<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guideapp_flutter">

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="Guide App">

        <activity
            android:name=".graphic.GraphicActivity"
            android:exported="false"
            android:theme="@style/AppCompat">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/LaunchTheme"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
<!--            android:name="com.example.guideapp_flutter.MainActivity"-->
<!--            android:exported="false"-->
<!--            android:launchMode="singleTop"-->
                <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme" />
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>